.detalle{
    display: block;
    justify-content: center;
}

.detalle .card{
    width: 355px;
    margin: 0;
    padding: 3% 0;
}

.detalle h1{
    text-transform: uppercase;
}

.detalle img{
    margin: 0;
    padding: 0;
    background-color: white;
}

.detalle li{
    text-transform: uppercase;
}
